In [1]:
import pandas as pd

In [2]:
file_name = 'C:/Users/wangkc/Desktop/python/CLOUT/CLOUT/total_20200630.csv'
data = pd.read_csv(file_name)
data.shape

(4290, 99)

In [6]:
data.columns

Index(['subject_id', 'subject_id.1', 'gender', 'dod', 'dob', 'expire_flag',
       'hadm_id_x', 'marital_status', 'diagnosis', 'ethnicity', 'admittime',
       'hadm_id_y', 'patientweight', '220546', '8480', '8441', '8440', '8445',
       '8446', '220180', '220046', '220050', '220051', '220603', '220624',
       '220645', '1542', '1536', '1524', '1540', '1526', '8555', '212', '861',
       '1087', '1127', '814', '781', '786', '787', '762', '813', '829', '837',
       '827', '833', '851', '824', '853', '806', '850', '789', '793', '644',
       '432', '470', '430', '431', '116', '87', '224167', '224643', '198',
       '455', '442', '482', '484', '51', '6', '227457', '225693', '225309',
       '225310', '227242', '227243', '617', '6701', '8368', '50868', '50882',
       '50912', '50931', '51006', '51221', '51222', '51237', '51249', '51274',
       '51277', '51279', '51301', '50862', '50863', '50893', '50970', '51491',
       '51244', '51256', '50963'],
      dtype='object')

In [9]:
data = data.drop(labels=['subject_id.1', 'hadm_id_x', 'hadm_id_y'], axis=1)
data.shape

(4290, 96)

In [11]:
data.head()

,subject_id,gender,dod,dob,expire_flag,marital_status,diagnosis,ethnicity,admittime,patientweight,...,51279,51301,50862,50863,50893,50970,51491,51244,51256,50963
0,28920,F,2118-05-10 00:00:00,2035-07-09 00:00:00,1,WIDOWED,ACUTE MYOCARDIAL INFARCTION\CATH,UNABLE TO OBTAIN,2118-03-29 15:09:00,NaN,...,2.55,10.2,NaN,NaN,8.6,3.1,5.5,NaN,NaN,NaN
1,52000,F,NaN,2026-11-06 00:00:00,0,MARRIED,ACUTE CORONARY SYNDROME,UNABLE TO OBTAIN,2109-03-31 18:37:00,60.0,...,3.12,6.3,NaN,41.0,8.4,2.6,NaN,22.0,69.9,NaN
2,20923,M,NaN,2088-05-06 00:00:00,0,NaN,ACUTE MI\LEFT HEART CATHETERIZATION,UNKNOWN/NOT SPECIFIED,2143-10-08 14:56:00,NaN,...,4.23,7.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31789,F,NaN,1851-08-20 00:00:00,0,SINGLE,HYPOTENSION;FEMUR FX,WHITE,2151-08-20 17:37:00,NaN,...,3.91,8.5,NaN,NaN,7.5,2.1,8.0,30,58,NaN
4,95177,M,NaN,2072-11-16 00:00:00,0,DIVORCED,ST ELEVATION MI,WHITE,2128-11-17 01:09:00,99.0,...,4.54,12.1,4.0,56.0,9.2,4.0,NaN,NaN,NaN,NaN

In [30]:
age = (pd.to_datetime(data['admittime']).dt.year - pd.to_datetime(data['dob']).dt.year)
age

0        83
1        83
2        55
3       300
4        56
       ...
4285     36
4286     74
4287     85
4288     66
4289     84
Length: 4290, dtype: int64

In [31]:
age[age>89] = 91.4

In [33]:
age

0       83.0
1       83.0
2       55.0
3       91.4
4       56.0
        ...
4285    36.0
4286    74.0
4287    85.0
4288    66.0
4289    84.0
Length: 4290, dtype: float64

In [34]:
data['age'] = age
data.shape

(4290, 97)