In [1]:
import numpy as np
import pandas as pd

### Series

In [2]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
s1 = pd.Series([1, 2, 3, 4])

In [4]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [6]:
s1.value_counts

<bound method IndexOpsMixin.value_counts of 0    1
1    2
2    3
3    4
dtype: int64>

In [7]:
s1.to_dict()

{0: 1, 1: 2, 2: 3, 3: 4}

In [8]:
s1.to_json()

'{"0":1,"1":2,"2":3,"3":4}'

In [10]:
s2 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

In [11]:
s2

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
s2.name = 'series name'

In [13]:
s2

a    1
b    2
c    3
d    4
Name: series name, dtype: int64

In [14]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
s2.index.name = 'index name'

In [16]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object', name='index name')

In [22]:
s3 = pd.Series(np.arange(0, 10, 2))

In [23]:
s3

0    0
1    2
2    4
3    6
4    8
dtype: int32

### Dataframe

In [24]:
from pandas import Series, DataFrame

In [25]:
import webbrowser

In [26]:
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [27]:
df = pd.read_clipboard()

In [28]:
df

   Mar 2020  Mar 2019  Change Programming Language Ratings Change.1
0         1         1     NaN                 Java  17.78%   +2.90%
1         2         2     NaN                    C  16.33%   +3.03%
2         3         3     NaN               Python  10.11%   +1.85%
3         4         4     NaN                  C++   6.79%   -1.34%
4         5         6  change                   C#   5.32%   +2.05%
5         6         5  change    Visual Basic .NET   5.26%   -1.17%
6         7         7     NaN           JavaScript   2.05%   -0.38%
7         8         8     NaN                  PHP   2.02%   -0.40%
8         9         9     NaN                  SQL   1.83%   -0.09%
9        10        18  change                   Go   1.28%   +0.26%

In [29]:
df.columns

Index(['Mar 2020', 'Mar 2019', 'Change', 'Programming Language', 'Ratings',
       'Change.1'],
      dtype='object')

In [30]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [31]:
df.values

array([[1, 1, nan, 'Java', '17.78%', '+2.90%'],
       [2, 2, nan, 'C', '16.33%', '+3.03%'],
       [3, 3, nan, 'Python', '10.11%', '+1.85%'],
       [4, 4, nan, 'C++', '6.79%', '-1.34%'],
       [5, 6, 'change', 'C#', '5.32%', '+2.05%'],
       [6, 5, 'change', 'Visual Basic .NET', '5.26%', '-1.17%'],
       [7, 7, nan, 'JavaScript', '2.05%', '-0.38%'],
       [8, 8, nan, 'PHP', '2.02%', '-0.40%'],
       [9, 9, nan, 'SQL', '1.83%', '-0.09%'],
       [10, 18, 'change', 'Go', '1.28%', '+0.26%']], dtype=object)

In [34]:
df2 = DataFrame(df, columns=['Language', 'Change.1'])

In [35]:
df2

   Language Change.1
0       NaN   +2.90%
1       NaN   +3.03%
2       NaN   +1.85%
3       NaN   -1.34%
4       NaN   +2.05%
5       NaN   -1.17%
6       NaN   -0.38%
7       NaN   -0.40%
8       NaN   -0.09%
9       NaN   +0.26%

In [36]:
type(df)

pandas.core.frame.DataFrame

In [38]:
df['New column'] = pd.Series(['a', 'b', 'c'])

In [39]:
df

   Mar 2020  Mar 2019  Change Programming Language Ratings Change.1 New column
0         1         1     NaN                 Java  17.78%   +2.90%          a
1         2         2     NaN                    C  16.33%   +3.03%          b
2         3         3     NaN               Python  10.11%   +1.85%          c
3         4         4     NaN                  C++   6.79%   -1.34%        NaN
4         5         6  change                   C#   5.32%   +2.05%        NaN
5         6         5  change    Visual Basic .NET   5.26%   -1.17%        NaN
6         7         7     NaN           JavaScript   2.05%   -0.38%        NaN
7         8         8     NaN                  PHP   2.02%   -0.40%        NaN
8         9         9     NaN                  SQL   1.83%   -0.09%        NaN
9        10        18  change                   Go   1.28%   +0.26%        NaN

In [40]:
df.columns

Index(['Mar 2020', 'Mar 2019', 'Change', 'Programming Language', 'Ratings',
       'Change.1', 'New column'],
      dtype='object')

In [42]:
df_new = DataFrame(df, columns=['Programming Language', 'Change.1'])
df_new

  Programming Language Change.1
0                 Java   +2.90%
1                    C   +3.03%
2               Python   +1.85%
3                  C++   -1.34%
4                   C#   +2.05%
5    Visual Basic .NET   -1.17%
6           JavaScript   -0.38%
7                  PHP   -0.40%
8                  SQL   -0.09%
9                   Go   +0.26%

In [43]:
df_new['Change.1'] = np.arange(10)
df_new

  Programming Language  Change.1
0                 Java         0
1                    C         1
2               Python         2
3                  C++         3
4                   C#         4
5    Visual Basic .NET         5
6           JavaScript         6
7                  PHP         7
8                  SQL         8
9                   Go         9

In [45]:
df['Programming Language']

0                 Java
1                    C
2               Python
3                  C++
4                   C#
5    Visual Basic .NET
6           JavaScript
7                  PHP
8                  SQL
9                   Go
Name: Programming Language, dtype: object

In [46]:
type(df['Programming Language'])

pandas.core.series.Series

### 深入理解Series和Dataframe

In [48]:
data = {
    'lower': ['a', 'b', 'c'],
    'num': ['1', '2', '3'],
    'upper': ['A', 'B', 'C']
}

In [49]:
df = DataFrame(data)

In [50]:
df

  lower num upper
0     a   1     A
1     b   2     B
2     c   3     C

In [51]:
df.lower

0    a
1    b
2    c
Name: lower, dtype: object

In [52]:
df.upper

0    A
1    B
2    C
Name: upper, dtype: object

In [53]:
df.iterrows()

In [59]:
for row in df.iterrows():
#     print(row), print(len(row)), print(type(row))
    print(row[0])
    print(row[1])
    break

0
lower    a
num      1
upper    A
Name: 0, dtype: object

In [61]:
s1 = pd.Series(data['lower'])
s2 = pd.Series(data['num'])
s3 = pd.Series(data['upper'])

In [63]:
df_new = pd.DataFrame([s1, s2, s3])
df_new

   0  1  2
0  a  b  c
1  1  2  3
2  A  B  C

In [64]:
df_new.T

   0  1  2
0  a  1  A
1  b  2  B
2  c  3  C

In [66]:
df_new = pd.DataFrame([s1, s2, s3], index=['lower', 'num', 'upper'])
df_new

       0  1  2
lower  a  b  c
num    1  2  3
upper  A  B  C

In [67]:
df_new.T

  lower num upper
0     a   1     A
1     b   2     B
2     c   3     C

### Dataframe IO

In [68]:
df1 = pd.read_clipboard()
df1

    Mar 2020  Mar 2019  Change  Programming Language Ratings Change.1
0          1         1     NaN                  Java  17.78%   +2.90%
1          2         2     NaN                     C  16.33%   +3.03%
2          3         3     NaN                Python  10.11%   +1.85%
3          4         4     NaN                   C++   6.79%   -1.34%
4          5         6  change                    C#   5.32%   +2.05%
5          6         5  change     Visual Basic .NET   5.26%   -1.17%
6          7         7     NaN            JavaScript   2.05%   -0.38%
7          8         8     NaN                   PHP   2.02%   -0.40%
8          9         9     NaN                   SQL   1.83%   -0.09%
9         10        18  change                    Go   1.28%   +0.26%
10        11        14  change                     R   1.26%   -0.02%
11        12        12     NaN     Assembly language   1.25%   -0.16%
12        13        17  change                 Swift   1.24%   +0.08%
13        14        15  change                  Ruby   1.05%   -0.15%
14        15        11  change                MATLAB   0.99%   -0.48%
15        16        22  change                PL/SQL   0.98%   +0.25%
16        17        13  change                  Perl   0.91%   -0.40%
17        18        20  change          Visual Basic   0.77%   -0.19%
18        19        10  change           Objective-C   0.73%   -0.95%
19        20        19  change  Delphi/Object Pascal   0.71%   -0.30%

In [69]:
df1.to_dict()

{'Change': {0: nan,
  1: nan,
  2: nan,
  3: nan,
  4: 'change',
  5: 'change',
  6: nan,
  7: nan,
  8: nan,
  9: 'change',
  10: 'change',
  11: nan,
  12: 'change',
  13: 'change',
  14: 'change',
  15: 'change',
  16: 'change',
  17: 'change',
  18: 'change',
  19: 'change'},
 'Change.1': {0: '+2.90%',
  1: '+3.03%',
  2: '+1.85%',
  3: '-1.34%',
  4: '+2.05%',
  5: '-1.17%',
  6: '-0.38%',
  7: '-0.40%',
  8: '-0.09%',
  9: '+0.26%',
  10: '-0.02%',
  11: '-0.16%',
  12: '+0.08%',
  13: '-0.15%',
  14: '-0.48%',
  15: '+0.25%',
  16: '-0.40%',
  17: '-0.19%',
  18: '-0.95%',
  19: '-0.30%'},
 'Mar 2019': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 6,
  5: 5,
  6: 7,
  7: 8,
  8: 9,
  9: 18,
  10: 14,
  11: 12,
  12: 17,
  13: 15,
  14: 11,
  15: 22,
  16: 13,
  17: 20,
  18: 10,
  19: 19},
 'Mar 2020': {0: 1,
  1: 2,
  2: 3,
  3: 4,
  4: 5,
  5: 6,
  6: 7,
  7: 8,
  8: 9,
  9: 10,
  10: 11,
  11: 12,
  12: 13,
  13: 14,
  14: 15,
  15: 16,
  16: 17,
  17: 18,
  18: 19,
  19: 20},
 'Programming Language': {0: 'Java',
  1: 'C',
  2: 'Python',
  3: 'C++',
  4: 'C#',
  5: 'Visual Basic .NET',
  6: 'JavaScript',
  7: 'PHP',
  8: 'SQL',
  9: 'Go',
  10: 'R',
  11: 'Assembly language',
  12: 'Swift',
  13: 'Ruby',
  14: 'MATLAB',
  15: 'PL/SQL',
  16: 'Perl',
  17: 'Visual Basic',
  18: 'Objective-C',
  19: 'Delphi/Object Pascal'},
 'Ratings': {0: '17.78%',
  1: '16.33%',
  2: '10.11%',
  3: '6.79%',
  4: '5.32%',
  5: '5.26%',
  6: '2.05%',
  7: '2.02%',
  8: '1.83%',
  9: '1.28%',
  10: '1.26%',
  11: '1.25%',
  12: '1.24%',
  13: '1.05%',
  14: '0.99%',
  15: '0.98%',
  16: '0.91%',
  17: '0.77%',
  18: '0.73%',
  19: '0.71%'}}

In [70]:
df1.to_clipboard()

In [ ]:
	Mar 2020	Mar 2019	Change	Programming Language	Ratings	Change.1
0	1	1		Java	17.78%	+2.90%
1	2	2		C	16.33%	+3.03%
2	3	3		Python	10.11%	+1.85%
3	4	4		C++	6.79%	-1.34%
4	5	6	change	C#	5.32%	+2.05%
5	6	5	change	Visual Basic .NET	5.26%	-1.17%
6	7	7		JavaScript	2.05%	-0.38%
7	8	8		PHP	2.02%	-0.40%
8	9	9		SQL	1.83%	-0.09%
9	10	18	change	Go	1.28%	+0.26%
10	11	14	change	R	1.26%	-0.02%
11	12	12		Assembly language	1.25%	-0.16%
12	13	17	change	Swift	1.24%	+0.08%
13	14	15	change	Ruby	1.05%	-0.15%
14	15	11	change	MATLAB	0.99%	-0.48%
15	16	22	change	PL/SQL	0.98%	+0.25%
16	17	13	change	Perl	0.91%	-0.40%
17	18	20	change	Visual Basic	0.77%	-0.19%
18	19	10	change	Objective-C	0.73%	-0.95%
19	20	19	change	Delphi/Object Pascal	0.71%	-0.30%

In [72]:
df1.to_excel('df1.xlsx')

In [74]:
df2 = pd.read_excel('df1.xlsx')
df2

,Unnamed: 0,Mar 2020,Mar 2019,Change,Programming Language,Ratings,Change.1
0,0,1,1,NaN,Java,17.78%,+2.90%
1,1,2,2,NaN,C,16.33%,+3.03%
2,2,3,3,NaN,Python,10.11%,+1.85%
3,3,4,4,NaN,C++,6.79%,-1.34%
4,4,5,6,change,C#,5.32%,+2.05%
5,5,6,5,change,Visual Basic .NET,5.26%,-1.17%
6,6,7,7,NaN,JavaScript,2.05%,-0.38%
7,7,8,8,NaN,PHP,2.02%,-0.40%
8,8,9,9,NaN,SQL,1.83%,-0.09%
9,9,10,18,change,Go,1.28%,+0.26%
10,10,11,14,change,R,1.26%,-0.02%
11,11,12,12,NaN,Assembly language,1.25%,-0.16%
12,12,13,17,change,Swift,1.24%,+0.08%
13,13,14,15,change,Ruby,1.05%,-0.15%
14,14,15,11,change,MATLAB,0.99%,-0.48%
15,15,16,22,change,PL/SQL,0.98%,+0.25%
16,16,17,13,change,Perl,0.91%,-0.40%
17,17,18,20,change,Visual Basic,0.77%,-0.19%
18,18,19,10,change,Objective-C,0.73%,-0.95%
19,19,20,19,change,Delphi/Object Pascal,0.71%,-0.30%

In [75]:
df1.to_html('df1.html')

In [76]:
df1.to_json('df1.json')

In [77]:
df2 = pd.read_json('df1.json')

In [78]:
df2

    Mar 2020  Mar 2019  Change  Programming Language Ratings Change.1
0          1         1    None                  Java  17.78%   +2.90%
1          2         2    None                     C  16.33%   +3.03%
2          3         3    None                Python  10.11%   +1.85%
3          4         4    None                   C++   6.79%   -1.34%
4          5         6  change                    C#   5.32%   +2.05%
5          6         5  change     Visual Basic .NET   5.26%   -1.17%
6          7         7    None            JavaScript   2.05%   -0.38%
7          8         8    None                   PHP   2.02%   -0.40%
8          9         9    None                   SQL   1.83%   -0.09%
9         10        18  change                    Go   1.28%   +0.26%
10        11        14  change                     R   1.26%   -0.02%
11        12        12    None     Assembly language   1.25%   -0.16%
12        13        17  change                 Swift   1.24%   +0.08%
13        14        15  change                  Ruby   1.05%   -0.15%
14        15        11  change                MATLAB   0.99%   -0.48%
15        16        22  change                PL/SQL   0.98%   +0.25%
16        17        13  change                  Perl   0.91%   -0.40%
17        18        20  change          Visual Basic   0.77%   -0.19%
18        19        10  change           Objective-C   0.73%   -0.95%
19        20        19  change  Delphi/Object Pascal   0.71%   -0.30%

In [79]:
df1.to_json('df2.json', indent=False)

In [80]:
df1.to_excel('df2.xlsx', index=False)

### Selecting And Indexing

In [83]:
df1

    Mar 2020  Mar 2019  Change  Programming Language Ratings Change.1
0          1         1     NaN                  Java  17.78%   +2.90%
1          2         2     NaN                     C  16.33%   +3.03%
2          3         3     NaN                Python  10.11%   +1.85%
3          4         4     NaN                   C++   6.79%   -1.34%
4          5         6  change                    C#   5.32%   +2.05%
5          6         5  change     Visual Basic .NET   5.26%   -1.17%
6          7         7     NaN            JavaScript   2.05%   -0.38%
7          8         8     NaN                   PHP   2.02%   -0.40%
8          9         9     NaN                   SQL   1.83%   -0.09%
9         10        18  change                    Go   1.28%   +0.26%
10        11        14  change                     R   1.26%   -0.02%
11        12        12     NaN     Assembly language   1.25%   -0.16%
12        13        17  change                 Swift   1.24%   +0.08%
13        14        15  change                  Ruby   1.05%   -0.15%
14        15        11  change                MATLAB   0.99%   -0.48%
15        16        22  change                PL/SQL   0.98%   +0.25%
16        17        13  change                  Perl   0.91%   -0.40%
17        18        20  change          Visual Basic   0.77%   -0.19%
18        19        10  change           Objective-C   0.73%   -0.95%
19        20        19  change  Delphi/Object Pascal   0.71%   -0.30%

In [84]:
df1.head()

   Mar 2020  Mar 2019  Change Programming Language Ratings Change.1
0         1         1     NaN                 Java  17.78%   +2.90%
1         2         2     NaN                    C  16.33%   +3.03%
2         3         3     NaN               Python  10.11%   +1.85%
3         4         4     NaN                  C++   6.79%   -1.34%
4         5         6  change                   C#   5.32%   +2.05%

In [85]:
df1.tail()

    Mar 2020  Mar 2019  Change  Programming Language Ratings Change.1
15        16        22  change                PL/SQL   0.98%   +0.25%
16        17        13  change                  Perl   0.91%   -0.40%
17        18        20  change          Visual Basic   0.77%   -0.19%
18        19        10  change           Objective-C   0.73%   -0.95%
19        20        19  change  Delphi/Object Pascal   0.71%   -0.30%

In [86]:
df1.head(10)

   Mar 2020  Mar 2019  Change Programming Language Ratings Change.1
0         1         1     NaN                 Java  17.78%   +2.90%
1         2         2     NaN                    C  16.33%   +3.03%
2         3         3     NaN               Python  10.11%   +1.85%
3         4         4     NaN                  C++   6.79%   -1.34%
4         5         6  change                   C#   5.32%   +2.05%
5         6         5  change    Visual Basic .NET   5.26%   -1.17%
6         7         7     NaN           JavaScript   2.05%   -0.38%
7         8         8     NaN                  PHP   2.02%   -0.40%
8         9         9     NaN                  SQL   1.83%   -0.09%
9        10        18  change                   Go   1.28%   +0.26%

In [88]:
sub_df = df1[['Programming Language', 'Change.1']]
sub_df

    Programming Language Change.1
0                   Java   +2.90%
1                      C   +3.03%
2                 Python   +1.85%
3                    C++   -1.34%
4                     C#   +2.05%
5      Visual Basic .NET   -1.17%
6             JavaScript   -0.38%
7                    PHP   -0.40%
8                    SQL   -0.09%
9                     Go   +0.26%
10                     R   -0.02%
11     Assembly language   -0.16%
12                 Swift   +0.08%
13                  Ruby   -0.15%
14                MATLAB   -0.48%
15                PL/SQL   +0.25%
16                  Perl   -0.40%
17          Visual Basic   -0.19%
18           Objective-C   -0.95%
19  Delphi/Object Pascal   -0.30%

In [89]:
sub_df.iloc[2:3, :]

  Programming Language Change.1
2               Python   +1.85%

In [90]:
sub_df.iloc[0:10:2, :] #根据索引过滤

  Programming Language Change.1
0                 Java   +2.90%
2               Python   +1.85%
4                   C#   +2.05%
6           JavaScript   -0.38%
8                  SQL   -0.09%

In [91]:
sub_df.loc[4:8] #根据行或者列的名称过滤

  Programming Language Change.1
4                   C#   +2.05%
5    Visual Basic .NET   -1.17%
6           JavaScript   -0.38%
7                  PHP   -0.40%
8                  SQL   -0.09%

### Reindexing Series and Dataframe

In [104]:
s1 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [105]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [106]:
s1.reindex(index=['a', 'b', 'c', 'd', 'f'])

a    1.0
b    2.0
c    3.0
d    4.0
f    NaN
dtype: float64

In [107]:
s1.reindex(index=['a', 'b', 'c', 'd', 'f'], method='ffill')

a    1
b    2
c    3
d    4
f    5
dtype: int64

In [108]:
s2 = pd.Series(['a', 'b', 'c'], index=[1, 5, 10])
s2

1     a
5     b
10    c
dtype: object

In [109]:
s2.reindex(np.arange(15))

0     NaN
1       a
2     NaN
3     NaN
4     NaN
5       b
6     NaN
7     NaN
8     NaN
9     NaN
10      c
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [110]:
s2.reindex(np.arange(15), method='ffill')

0     NaN
1       a
2       a
3       a
4       a
5       b
6       b
7       b
8       b
9       b
10      c
11      c
12      c
13      c
14      c
dtype: object

In [117]:
df1 = DataFrame(np.random.rand(25).reshape([5, -1]), index=['a', 'b', 'c', 'd', 'e'], columns=['c1', 'c2', 'c3', 'c4', 'c5'])

In [118]:
df1

         c1        c2        c3        c4        c5
a  0.178456  0.880768  0.248985  0.464761  0.782054
b  0.468120  0.345523  0.402044  0.188579  0.355698
c  0.319340  0.369774  0.406277  0.106798  0.841643
d  0.614276  0.175984  0.028658  0.468025  0.805391
e  0.480245  0.379536  0.206631  0.300447  0.708443

In [119]:
df1.reindex(index=['a', 'b', 'f', 'c', 'd', 'e'])

         c1        c2        c3        c4        c5
a  0.178456  0.880768  0.248985  0.464761  0.782054
b  0.468120  0.345523  0.402044  0.188579  0.355698
f       NaN       NaN       NaN       NaN       NaN
c  0.319340  0.369774  0.406277  0.106798  0.841643
d  0.614276  0.175984  0.028658  0.468025  0.805391
e  0.480245  0.379536  0.206631  0.300447  0.708443

In [120]:
df1.reindex(columns=['c1', 'c2', 'c3', 'c6',  'c4', 'c5'])

         c1        c2        c3  c6        c4        c5
a  0.178456  0.880768  0.248985 NaN  0.464761  0.782054
b  0.468120  0.345523  0.402044 NaN  0.188579  0.355698
c  0.319340  0.369774  0.406277 NaN  0.106798  0.841643
d  0.614276  0.175984  0.028658 NaN  0.468025  0.805391
e  0.480245  0.379536  0.206631 NaN  0.300447  0.708443

In [121]:
df1

         c1        c2        c3        c4        c5
a  0.178456  0.880768  0.248985  0.464761  0.782054
b  0.468120  0.345523  0.402044  0.188579  0.355698
c  0.319340  0.369774  0.406277  0.106798  0.841643
d  0.614276  0.175984  0.028658  0.468025  0.805391
e  0.480245  0.379536  0.206631  0.300447  0.708443

In [122]:
df1.drop('a',axis=0)

         c1        c2        c3        c4        c5
b  0.468120  0.345523  0.402044  0.188579  0.355698
c  0.319340  0.369774  0.406277  0.106798  0.841643
d  0.614276  0.175984  0.028658  0.468025  0.805391
e  0.480245  0.379536  0.206631  0.300447  0.708443

In [124]:
df1.drop('c1', axis=1)

         c2        c3        c4        c5
a  0.880768  0.248985  0.464761  0.782054
b  0.345523  0.402044  0.188579  0.355698
c  0.369774  0.406277  0.106798  0.841643
d  0.175984  0.028658  0.468025  0.805391
e  0.379536  0.206631  0.300447  0.708443

In [125]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [126]:
s1.drop('a')

b    2
c    3
d    4
e    5
dtype: int64

### NaN

In [127]:
np.nan

nan

In [128]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [129]:
s1.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [ ]:
#isnan() fillna() dropna()

### 多级Index

### Mapping and Replace